body {font-weight: bold;
	  background-color: }

#sportsButtons {float: left;
				/*width: 600px;*/
				width: 60%;
				margin-top: 25px;}

.addSportButtons {border-radius: 5px;
				   border: 12px double #FFF;}				

label {font-weight: bold;
	   font-family: tahoma;}

#submissionForm {float: right;
				 margin-top: 25px;}

#sportPics {clear: both;
}

button, input[type=submit] {background-color: #008080;
							color: #FFF;
							border-radius: 5px;
							padding: 4px 10px;}

input[type=text] {width: 400px;
				  margin-bottom: 5px;
				  margin-top: 5px;
				  padding: 2px 0px 2px 10px;
				  border-radius: 3px;
				  border: 1px solid #D8DDE6;
				  font-weight: normal;
				  font-family: Arial;}

.soprtsDiv {display: inline-block;
			margin: 20px 10px 20px 20px;
			clear: both;}	

.rating {margin-bottom: 20px;}	

.jumbotron {text-align: center;
			width: 80%;
			margin: 10px auto;
			border-radius: 4px;
			color: #008080;
			font-family: 'Josefin Sans', sans-serif;}

.jumbotron p {color: #000;}	

.addSportPics {border: 3px solid #008080;
				margin: 100px auto;
				border-radius: 3px;
				background-color: #008080;
				color: #FFF;
				width: 85%;
				/*clear: both*/
				float: left;
				position: relative;
				left: 10%;}			

img {width: 200px;
	 height: 200px}